@import 'theme/typography';
@import 'theme/colors';
@import 'helpers/mixins';

/* apply a natural box layout model to all elements, but allowing components to change */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $family-primary;
  color: $black;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// General
.text-link {
  font-size: 12px;
  color: $blue;
  text-decoration: none;
}

.btn-danger {
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 90px;
  color: $white;
  background-color: $danger-dark;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  @include desktop {
    height: 42px;
    width: 120px;
  }
}

/*
* Replicate framework-like
*/
/* General container for input field */
.input-group {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 100%;
}

/* Style for the label */
.input-group label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 12px;
  color: $black;
}

/* Style for the input field */
.input-group input[type="text"],
.input-group input[type="password"],
.input-group textarea {
  display: block;
  width: 100%;
  max-width: 100%; 
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $secondary-light;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Placeholder color */
.input-group input::placeholder,
.input-group textarea::placeholder {
  color: $secondary;
  opacity: 1; /* Override Firefox opacity */
}

.field-container {
  padding: .5rem 0;
}

/*
 * VIEWS
*/
#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
      "header"
      "hero"
      "main-content"
      "footer";
  width: 100%;
  height: 100vh;
}

/* HEADER */
header {
  grid-area: header;
  background-color: $primary;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  @include desktop {
    padding: 0 6.25rem;
  }
}

.menu {
  display: flex;
  align-items: center;

  a {
      text-decoration: none;
      color: $black;
      padding: 0 1.125rem;

      &.active {
          display: flex;
          align-items: center;
          border-radius: 3px;
          font-size: 14px;
          font-weight: bold;
          background-color: $white;
          height: 32px;
          /* width: 48px; */
      }
  }   
}

/* HERO */
.hero-section {
  grid-area: hero;
  position: relative; /* Establish a stacking context */

  .overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      padding: 12px;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 2px $black;

      @include desktop {
        font-size: 2.875rem;
      }
  }
}

/* MAIN CONTENT */
#main-content {
  grid-area: main-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

/* BOX */
.box {
  width: 272px;
  padding: 1rem;
  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;

  @include desktop {
    width: 328px;
    padding: 1rem 1.875rem;
  }
}

/* FOOTER */
.footer {
    grid-area: footer;
    background-color: $primary;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    @include desktop {
      padding: 0 6.25rem;
    }
}

h1 {
  font-size: 20px;
}