// primary
$primary: #FFF000;
$primary-dark: #e6b42d;
$primary-light: #ffc836;

// secondary
$secondary:#6c757d;
$secondary-dark: #35343a;
$secondary-light:  #495057;

// danger
$danger: #F5C6CB;
$danger-dark: #E3007F;
$danger-light: #F8D7DA;

// general
$white: #FFFFFF;
$black: #333333;
$blue: #1155CC;
$gray: #AAAAAA;
